<h1 style="color: green;">Monitoring datasets preparation</h1>
<p>
EvidentlyAI monitoring is very specific as to how the data should be prepared.<br> 
In this section we prepare the datasets for classifier and regressor models monitoring.<br><br>
The following tasks will be accomplished:<br>
<ul>
<li><b>Extract classifier and regressor feaures datasets from homeshopping.csv</b></li><br>
<li>Create classifier reference dataset, this is the <b>benchmark dataset</b>;<br>it consists of all the records in homeshopping for the feature in question</li>
<li>Make predictions with the reference dataset and append them back to the dataset</li>
<li>Export the reference dataset</li><br>

<li style="color: green;">Create classifier current no drift dataset;<br>this consists of random sampling from the reference dataset</li>
<li style="color: green;">Make predictions with the classifier current no drift dataset and append them back to the dataset</li>
<li style="color: green;">Export the classifier current no drift dataset</li><br>

<li style="color: red;">Create classifier current dataset with drift;<br>this consists of adding random noise to the current no drift dataset</li>
<li style="color: red;">Make predictions with the classifier current dataset with drift and append them back to the dataset</li>
<li style="color: red;">Export the classifier current dataset with drift</li><br><br>

    
    

<li>Create regressor reference dataset, this is the <b>benchmark dataset</b>;<br>it consists of all the records in homeshopping for the feature in question</li>
<li>Make predictions with the reference dataset and append them back to the dataset</li>
<li>Export the reference dataset</li><br>

<li style="color: green;">Create regressor current no drift dataset;<br>this consists of random sampling from the reference dataset</li>
<li style="color: green;">Make predictions with the regressor current no drift dataset and append them back to the dataset</li>
<li style="color: green;">Export the regressor current no drift dataset</li><br>

<li style="color: red;">Create regressor current dataset with drift;<br>this consists of adding random noise to the current no drift dataset</li>
<li style="color: red;">Make predictions with the regressor current dataset with drift and append them back to the dataset</li>
<li style="color: red;">Export the regressor current dataset with drift</li>

</ul>
</p>

<h1 style="color: green;">Import libraries</h1>

In [1]:
import pandas as pd
import numpy as np
import joblib

import copy

import make_predictions

<h1 style="color: green;">Import classifier data</h1>

In [2]:
raw0 = pd.read_csv("../2. Data/homeshopping.csv")
raw0.head()

,Total_Nbr_of_Items,Total_Price,Venue,Payment_Type,Card_Source,Date_diff,Week_day_name,Nbr_trips_per_wk,Nbr_items_per_wk,Nbr_items_wk_perc,...,Clothes_and_shoes_wk_perc,Clothes_and_shoes_exp_receipt,Clothes_and_shoes_exp_wk,Clothes_and_shoes_wk_exp_perc,House_and_kitchen_receipt,House_and_kitchen_wk,House_and_kitchen_wk_perc,House_and_kitchen_exp_receipt,House_and_kitchen_exp_wk,House_and_kitchen_wk_exp_perc
0,1,3.29,eBay,Card,DD,0.0,Friday,3,3,0.333333,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
1,1,10.89,eBay,Card,DD,0.0,Friday,3,3,0.333333,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
2,1,2.98,eBay,Card,DD,0.0,Friday,3,3,0.333333,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
3,1,10.00,Abbey Sports,Card,DB,5.0,Wednesday,4,4,0.250000,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
4,1,5.91,eBay,Card,DD,1.0,Thursday,4,4,0.250000,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0

In [3]:
raw0.columns[:30]

Index(['Total_Nbr_of_Items', 'Total_Price', 'Venue', 'Payment_Type',
       'Card_Source', 'Date_diff', 'Week_day_name', 'Nbr_trips_per_wk',
       'Nbr_items_per_wk', 'Nbr_items_wk_perc', 'Expenditure_per_wk',
       'Total_Exp_wk_perc', 'AVG_exp_item_per_wk', 'Trips_response_lt_5',
       'hour', 'Part_of_day', 'Bread', 'Cooked_meats', 'Raw_meats',
       'Eating_out', 'Snacks', 'Drinks', 'Vegetables', 'Fruit', 'Cooking_base',
       'Dairy_produce', 'Seasoning', 'Breakfast', 'Transport', 'DIY'],
      dtype='object')

In [4]:
raw0.shape

(936, 156)

<h1 style="color: green;">Restricting data to classifier model features</h1>

In [5]:
# This includes the classifier target (Trips_response_lt_5)
features_classifier = ['Date_diff', 'Nbr_items_per_wk', 'Expenditure_per_wk',
                        'Total_Exp_wk_perc', 'AVG_exp_item_per_wk', 'Bread_wk',
                        'Cooked_meats_wk', 'Raw_meats_wk', 'Eating_out_wk', 'Snacks_wk',
                        'Drinks_wk', 'Vegetables_wk', 'Fruit_wk', 'Cooking_base_wk',
                        'Dairy_produce_wk', 'Breakfast_wk', 'Transport_wk',
                        'Tech_and_services_wk', 'Cosmetics_and_selfcare_wk',
                        'House_and_kitchen_wk','Trips_response_lt_5']

In [6]:
classifier_dt = copy.deepcopy(raw0)

In [7]:
classifier_dt = classifier_dt[features_classifier]
classifier_dt.head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Vegetables_wk,Fruit_wk,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5
0,0.0,3,17.16,0.191725,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0.0,3,17.16,0.634615,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.0,3,17.16,0.173660,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,5.0,4,28.69,0.348554,7.1725,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1.0,4,28.69,0.205995,7.1725,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [8]:
classifier_dt1 = copy.deepcopy(classifier_dt)

In [9]:
# extracting the target, Trips_response_lt_5
classifier_target = classifier_dt1.Trips_response_lt_5

# dropping Trips_response_lt_5 from classifier_dt
classifier_dt1.drop(['Trips_response_lt_5'], axis=1, inplace=True)
classifier_dt1.shape

(936, 20)

<h5 style="color: green;">Make predictions</h5>

In [10]:
classifier_predictions_prob, classifier_predictions_binarized = \
make_predictions.predict_classifier(classifier_dt1)
classifier_predictions_binarized[:10]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [11]:
# create the reference data
classifier_reference = copy.deepcopy(classifier_dt)

# append the predictions and rename data to classifier_dt
classifier_reference['prediction_label'] = classifier_predictions_binarized
classifier_reference['prediction_prob'] = classifier_predictions_prob

In [12]:
classifier_reference.shape

(936, 23)

In [13]:
classifier_reference.head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
0,0.0,3,17.16,0.191725,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999449
1,0.0,3,17.16,0.634615,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999647
2,0.0,3,17.16,0.173660,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999364
3,5.0,4,28.69,0.348554,7.1725,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1.0,0.999923
4,1.0,4,28.69,0.205995,7.1725,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1.0,0.999817

In [14]:
# Export the classifier reference
classifier_reference.to_csv("../2. Data/classifier_reference.csv",index=False)

<h1 style="color: green;">Creating current datasets</h1>

<h3 style="color: green;">Current dataset no drift</h3>

In [15]:
# sampling with permutations
Classifier_curr_dt_no_drift = \
classifier_dt.take(np.random.permutation(int(classifier_dt.shape[0]))[:int(int(classifier_dt.shape[0])/3)])

In [16]:
int(classifier_dt.shape[0]/3)

312

In [17]:
# creating the no drift dataset by randomly sampling classifier_dt and stacking the samples
# taking a random 1/3 of classifier_dt dataset
for i in range(19):
    x = classifier_dt.take(np.random.permutation(int(classifier_dt.shape[0]))[:int(int(classifier_dt.shape[0])/3)])
    Classifier_curr_dt_no_drift = pd.concat([Classifier_curr_dt_no_drift,x], axis=0)

In [18]:

Classifier_curr_dt_no_drift.shape

(6240, 21)

In [19]:
Classifier_curr_dt_no_drift1 = copy.deepcopy(Classifier_curr_dt_no_drift)

In [20]:
# DO NOT RUN THIS
# Writing current data to csv
# Classifier_curr_dt_no_drift.to_csv("../2. Data/Classifier_curr_dt_no_drift.csv", index=False)

<h5 style="color: green;">Extracting the classifier target</h5>

In [21]:
classifier_curr_dt_no_drift_target = Classifier_curr_dt_no_drift1.Trips_response_lt_5

# dropping Trips_response_lt_5 from classifier_dt
Classifier_curr_dt_no_drift1.drop(['Trips_response_lt_5'], axis=1, inplace=True)
Classifier_curr_dt_no_drift1.shape

(6240, 20)

In [22]:
classifier_curr_dt_no_drift_target[30:40]

446    0
254    0
603    1
890    0
209    1
166    0
13     1
744    1
879    0
466    0
Name: Trips_response_lt_5, dtype: int64

<h5 style="color: green;">Make predictions</h5>

In [23]:
Classifier_curr_dt_no_drift_predictions_prob, Classifier_curr_dt_no_drift_predictions_binarized = \
make_predictions.predict_classifier(Classifier_curr_dt_no_drift1)
Classifier_curr_dt_no_drift_predictions_binarized[:10]

array([1., 1., 0., 0., 0., 1., 0., 1., 0., 0.])

<h5 style="color: green;">Append predictions to current dataset no drift</h5>

In [24]:
Classifier_curr_dt_no_drift3 = copy.deepcopy(Classifier_curr_dt_no_drift)

# Classifier_curr_dt_no_drift3['prediction'] = Classifier_curr_dt_no_drift_predictions


# append the predictions and rename data to classifier_dt
Classifier_curr_dt_no_drift3['prediction_label'] = Classifier_curr_dt_no_drift_predictions_binarized
Classifier_curr_dt_no_drift3['prediction_prob'] = Classifier_curr_dt_no_drift_predictions_prob

In [25]:
print(Classifier_curr_dt_no_drift3.shape)

Classifier_curr_dt_no_drift3.head()

(6240, 23)

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
0,0.0,3,17.16,0.191725,5.720000,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999449
317,3.0,31,33.16,0.309409,1.069677,3,2,3,0,1,...,0,2,0,0,0,1,2,0,1.0,0.810571
94,2.0,20,22.69,0.484354,1.134500,4,0,2,0,1,...,0,0,0,0,0,5,0,0,0.0,0.006826
177,0.0,63,175.43,0.374508,2.784603,2,2,5,0,6,...,0,0,0,0,0,3,1,0,0.0,0.000316
339,2.0,31,29.12,0.154190,0.939355,1,1,2,1,8,...,0,1,0,0,0,1,1,0,0.0,0.030508

In [26]:
# Export Classifier_curr_dt_no_drift3
Classifier_curr_dt_no_drift3.to_csv("../2. Data/Classifier_curr_dt_no_drift.csv",index=False)

<h3 style="color: green;">Current dataset with drift</h3>

In [27]:
classifier_drift = copy.deepcopy(Classifier_curr_dt_no_drift)

In [28]:
classifier_drift.head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Vegetables_wk,Fruit_wk,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5
0,0.0,3,17.16,0.191725,5.720000,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
317,3.0,31,33.16,0.309409,1.069677,3,2,3,0,1,...,11,1,0,2,0,0,0,1,2,0
94,2.0,20,22.69,0.484354,1.134500,4,0,2,0,1,...,3,1,0,0,0,0,0,5,0,0
177,0.0,63,175.43,0.374508,2.784603,2,2,5,0,6,...,15,1,0,0,0,0,0,3,1,0
339,2.0,31,29.12,0.154190,0.939355,1,1,2,1,8,...,10,0,0,1,0,0,0,1,1,0

In [29]:
classifier_wk_list = ['Date_diff', 'Nbr_items_per_wk', 'Expenditure_per_wk',
                        'AVG_exp_item_per_wk', 'Bread_wk',
                        'Cooked_meats_wk', 'Raw_meats_wk', 'Eating_out_wk', 'Snacks_wk',
                        'Drinks_wk', 'Vegetables_wk', 'Fruit_wk', 'Cooking_base_wk',
                        'Dairy_produce_wk', 'Breakfast_wk', 'Transport_wk',
                        'Tech_and_services_wk', 'Cosmetics_and_selfcare_wk',
                        'House_and_kitchen_wk']

classifier_perc_list = ['Total_Exp_wk_perc']

<h5 style="color: green;">Inflating values to mimic drift</h5>

In [30]:
# Adding random noise to the non percentage features
# In general all the values are being inflated
mu, sigma = 10,6 
for item in classifier_wk_list:
    classifier_drift['{}'.format(item)] = classifier_drift['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(classifier_drift)))
classifier_drift[classifier_wk_list].head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,Drinks_wk,Vegetables_wk,Fruit_wk,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk
0,7.234651,16.842141,18.493836,22.131373,10.455820,23.993976,6.934586,8.087692,10.944593,10.668238,10.849769,2.263492,9.618020,2.513850,18.388972,6.810537,1.848405,22.149125,2.013632
317,4.451534,39.957007,40.091199,15.893993,6.858782,12.727666,11.008138,7.400027,4.847528,7.488380,11.216207,14.372260,15.177531,4.460985,9.167653,19.762036,7.375986,9.772866,2.339759
94,10.541442,41.863672,27.356854,19.108762,16.057341,14.565109,20.475405,10.922261,3.023279,25.148632,16.917973,12.175663,16.323361,5.686904,12.985114,26.249166,23.937695,22.769351,12.360392
177,19.748735,70.364440,198.227742,6.106105,12.873466,13.212764,14.628252,15.044239,7.889224,27.348994,23.299853,24.174820,7.274041,0.937012,14.794072,12.485270,2.783435,10.189526,11.634937
339,13.168847,41.559918,32.598282,10.153430,6.515889,4.026499,16.951235,13.005726,23.996149,10.208070,11.910607,8.537511,5.826471,15.394590,12.648097,9.358315,4.375565,4.381416,5.018939

In [31]:
# Adding random noise to the weekly percentages features
mu, sigma = 0,0.1
for item in classifier_perc_list:
    classifier_drift['{}'.format(item)] = classifier_drift['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(classifier_drift)))
classifier_drift[classifier_perc_list].head()

     Total_Exp_wk_perc
0             0.250503
317           0.437721
94            0.541798
177           0.378668
339           0.206135

In [32]:
# Although this exceeds 1, there is no need to cap this at 1
# as the idea is to demonstrate drift in the data
classifier_drift.Total_Exp_wk_perc.max()

1.3103769874871758

In [33]:
classifier_drift.columns

Index(['Date_diff', 'Nbr_items_per_wk', 'Expenditure_per_wk',
       'Total_Exp_wk_perc', 'AVG_exp_item_per_wk', 'Bread_wk',
       'Cooked_meats_wk', 'Raw_meats_wk', 'Eating_out_wk', 'Snacks_wk',
       'Drinks_wk', 'Vegetables_wk', 'Fruit_wk', 'Cooking_base_wk',
       'Dairy_produce_wk', 'Breakfast_wk', 'Transport_wk',
       'Tech_and_services_wk', 'Cosmetics_and_selfcare_wk',
       'House_and_kitchen_wk', 'Trips_response_lt_5'],
      dtype='object')

In [34]:
classifier_drift1 = copy.deepcopy(classifier_drift)

In [35]:
classifier_drift.shape

(6240, 21)

<h5 style="color: green;">Extracting the classifier target</h5>

In [36]:
classifier_drift_target = classifier_drift1.Trips_response_lt_5

# dropping Trips_response_lt_5 from classifier_dt
classifier_drift1.drop(['Trips_response_lt_5'], axis=1, inplace=True)
classifier_drift1.shape

(6240, 20)

<h5 style="color: green;">Make predictions</h5>

In [37]:
classifier_drift_predictions_prob, classifier_drift_predictions_binarized=\
make_predictions.predict_classifier(classifier_drift1)
classifier_drift_predictions_prob[:10]

array([0.41160013, 0.50217126, 0.4754905 , 0.36570829, 0.53380501,
       0.56502075, 0.39199485, 0.41465536, 0.35594285, 0.47895907])

<h5 style="color: green;">Append predictions to current dataset no drift</h5>

In [38]:
# classifier_drift['prediction'] = classifier_drift_predictions

# append the predictions and rename data to classifier_dt
classifier_drift['prediction_label'] = classifier_drift_predictions_binarized
classifier_drift['prediction_prob'] = classifier_drift_predictions_prob

In [39]:
print(classifier_drift.shape)

classifier_drift.head()

(6240, 23)

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
0,7.234651,16.842141,18.493836,0.250503,22.131373,10.455820,23.993976,6.934586,8.087692,10.944593,...,9.618020,2.513850,18.388972,6.810537,1.848405,22.149125,2.013632,1,1.0,0.411600
317,4.451534,39.957007,40.091199,0.437721,15.893993,6.858782,12.727666,11.008138,7.400027,4.847528,...,15.177531,4.460985,9.167653,19.762036,7.375986,9.772866,2.339759,0,1.0,0.502171
94,10.541442,41.863672,27.356854,0.541798,19.108762,16.057341,14.565109,20.475405,10.922261,3.023279,...,16.323361,5.686904,12.985114,26.249166,23.937695,22.769351,12.360392,0,1.0,0.475491
177,19.748735,70.364440,198.227742,0.378668,6.106105,12.873466,13.212764,14.628252,15.044239,7.889224,...,7.274041,0.937012,14.794072,12.485270,2.783435,10.189526,11.634937,0,1.0,0.365708
339,13.168847,41.559918,32.598282,0.206135,10.153430,6.515889,4.026499,16.951235,13.005726,23.996149,...,5.826471,15.394590,12.648097,9.358315,4.375565,4.381416,5.018939,0,1.0,0.533805

In [40]:
# Export classifier_drift
classifier_drift.to_csv("../2. Data/classifier_current_dt_drift.csv",index=False)

<h1 style="color: green;">Restricting data to Regressor model features</h1>

In [41]:
features_regressor = ['Total_Price', 'Nbr_trips_per_wk', 'Total_Exp_wk_perc', 'Raw_meats_wk',
                          'Vegetables_wk', 'Cooking_base_wk', 'Breakfast_wk', 'Transport_wk',
                          'Electronics_wk', 'Education_wk', 'Cosmetics_and_selfcare_wk',
                          'Clothes_and_shoes_wk','Expenditure_per_wk']

In [42]:
regressor_dt = copy.deepcopy(raw0)

In [43]:
regressor_dt = regressor_dt[features_regressor]
regressor_dt.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk
0,3.29,3,0.191725,0,0,0,0,0,1,0,0,0,17.16
1,10.89,3,0.634615,0,0,0,0,0,1,0,0,0,17.16
2,2.98,3,0.173660,0,0,0,0,0,1,0,0,0,17.16
3,10.00,4,0.348554,0,0,0,0,0,1,0,0,0,28.69
4,5.91,4,0.205995,0,0,0,0,0,1,0,0,0,28.69

In [44]:
regressor_dt1 = copy.deepcopy(regressor_dt)

<h5 style="color: green;">Extracting the regressor target</h5>

In [45]:
# extracting the target, Expenditure_per_wk
regressor_target = regressor_dt1.Expenditure_per_wk

# dropping Expenditure_per_wk from regressor_dt1
regressor_dt1.drop(['Expenditure_per_wk'], axis=1, inplace=True)
regressor_dt1.shape

(936, 12)

<h5 style="color: green;">Make predictions</h5>

In [46]:
regressor_ref_predictions = make_predictions.predict_regressor(regressor_dt1)
regressor_ref_predictions[:10]

array([[18.84413528],
       [21.88097279],
       [17.15999929],
       [29.61172553],
       [28.69000096],
       [28.94183498],
       [28.689999  ],
       [40.67000021],
       [40.6700038 ],
       [40.6699959 ]])

In [47]:
# create the reference data
regressor_reference = copy.deepcopy(regressor_dt)

In [48]:
print(regressor_reference.shape)
# append the predictions and rename data to classifier_dt
regressor_reference['prediction'] = regressor_ref_predictions
regressor_reference.head()

(936, 13)

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
0,3.29,3,0.191725,0,0,0,0,0,1,0,0,0,17.16,18.844135
1,10.89,3,0.634615,0,0,0,0,0,1,0,0,0,17.16,21.880973
2,2.98,3,0.173660,0,0,0,0,0,1,0,0,0,17.16,17.159999
3,10.00,4,0.348554,0,0,0,0,0,1,0,0,0,28.69,29.611726
4,5.91,4,0.205995,0,0,0,0,0,1,0,0,0,28.69,28.690001

In [49]:
# Export the regressor reference
regressor_reference.to_csv("../2. Data/regressor_reference.csv",index=False)

<h1 style="color: green;">Creating current datasets</h1>
<h3 style="color: green;">Current dataset no drift</h3>

In [50]:
regressor_curr_dt_no_drift = \
regressor_dt.take(np.random.permutation(int(regressor_dt.shape[0]))[:int(int(regressor_dt.shape[0])/3)])

In [51]:
int(regressor_dt.shape[0]/3)

312

In [52]:
# creating the no drift dataset by randomly sampling classifier_dt and stacking the samples
# taking a random 1/3 of classifier_dt dataset

for i in range(19):
    x = regressor_dt.take(np.random.permutation(int(regressor_dt.shape[0]))[:int(int(regressor_dt.shape[0])/3)])
    regressor_curr_dt_no_drift = pd.concat([regressor_curr_dt_no_drift,x], axis=0)

In [53]:
regressor_curr_dt_no_drift.shape

(6240, 13)

In [54]:
regressor_curr_dt_no_drift1 = copy.deepcopy(regressor_curr_dt_no_drift)

<h5 style="color: green;">Extracting the regressor target</h5>

In [55]:
# Extracting the classifier target from Classifier_curr_dt_no_drift
regressor_curr_dt_no_drift_target = regressor_curr_dt_no_drift1.Expenditure_per_wk
regressor_curr_dt_no_drift1.drop(['Expenditure_per_wk'], axis=1, inplace=True)

In [56]:
regressor_curr_dt_no_drift1.shape

(6240, 12)

In [57]:
regressor_curr_dt_no_drift_target[30:40]

284      58.62
850      53.40
363    2683.72
238     172.27
168      57.37
689     162.45
134      49.60
596     140.49
522      55.21
341      29.12
Name: Expenditure_per_wk, dtype: float64

<h5 style="color: green;">Make predictions</h5>

In [58]:
regressor_curr_dt_no_drift_predictions = make_predictions.predict_regressor(regressor_curr_dt_no_drift1)
regressor_curr_dt_no_drift_predictions[:10]

array([[6.93816606e+01],
       [3.64399997e+01],
       [1.59999924e+00],
       [6.38558612e+01],
       [5.81700149e+01],
       [5.03100612e+01],
       [2.91999985e+01],
       [2.68372000e+03],
       [5.49200004e+01],
       [3.29900005e+01]])

In [59]:
# Append predictions to current dataset no drift  

regressor_curr_dt_no_drift3 = copy.deepcopy(regressor_curr_dt_no_drift)
print(regressor_curr_dt_no_drift3.shape)
regressor_curr_dt_no_drift3['prediction'] = regressor_curr_dt_no_drift_predictions
print(regressor_curr_dt_no_drift3.shape)

(6240, 13)
(6240, 14)

In [60]:
regressor_curr_dt_no_drift3.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
137,10.00,10,0.144009,1,6,0,0,0,0,0,1,0,69.44,69.381661
31,8.27,3,0.226948,3,9,0,0,0,0,1,0,0,36.44,36.440000
935,1.60,1,1.000000,0,0,0,0,0,0,0,0,0,1.60,1.599999
403,6.84,11,0.106992,7,6,1,0,0,0,0,3,0,63.93,63.855861
466,4.93,9,0.084752,0,1,0,1,0,0,0,1,0,58.17,58.170015

In [61]:
# Export regressor_curr_dt_no_drift3
regressor_curr_dt_no_drift3.to_csv("../2. Data/regressor_current_dt_no_drift3.csv",index=False)

<h3 style="color: green;">Current dataset with drift</h3>

In [62]:
regressor_drift = copy.deepcopy(regressor_curr_dt_no_drift)

In [63]:
regressor_drift.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk
137,10.00,10,0.144009,1,6,0,0,0,0,0,1,0,69.44
31,8.27,3,0.226948,3,9,0,0,0,0,1,0,0,36.44
935,1.60,1,1.000000,0,0,0,0,0,0,0,0,0,1.60
403,6.84,11,0.106992,7,6,1,0,0,0,0,3,0,63.93
466,4.93,9,0.084752,0,1,0,1,0,0,0,1,0,58.17

In [64]:
regressor_drift.columns

Index(['Total_Price', 'Nbr_trips_per_wk', 'Total_Exp_wk_perc', 'Raw_meats_wk',
       'Vegetables_wk', 'Cooking_base_wk', 'Breakfast_wk', 'Transport_wk',
       'Electronics_wk', 'Education_wk', 'Cosmetics_and_selfcare_wk',
       'Clothes_and_shoes_wk', 'Expenditure_per_wk'],
      dtype='object')

In [65]:
# list of features to add random noise to.
regressor_wk_list = ['Total_Price', 'Nbr_trips_per_wk', 'Raw_meats_wk',
                       'Vegetables_wk', 'Cooking_base_wk', 'Breakfast_wk', 'Transport_wk',
                       'Electronics_wk', 'Education_wk', 'Cosmetics_and_selfcare_wk',
                       'Clothes_and_shoes_wk','Expenditure_per_wk'] # including Expenditure_per_wk for randomness

regressor_perc_list = ['Total_Exp_wk_perc']

In [66]:
# Adding random noise to the non percentage features
# In general all the values are being inflated
mu, sigma = 10,6 
for item in regressor_wk_list:
    regressor_drift['{}'.format(item)] = regressor_drift['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(regressor_drift)))
    
regressor_drift[regressor_wk_list].head()

,Total_Price,Nbr_trips_per_wk,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk
137,29.671353,27.339236,21.605707,22.686535,14.965869,11.628342,11.374895,8.010144,17.332147,10.617962,3.965802,81.338213
31,10.772184,16.613967,5.329787,13.760860,6.712280,11.391198,5.400155,12.412875,11.662304,13.654401,15.852365,47.051797
935,2.789794,8.747711,14.982056,10.591974,4.179518,2.854285,13.613707,8.852314,9.874487,5.014989,14.859072,23.460449
403,19.297759,29.517343,20.215022,7.217432,5.672266,4.964222,9.193924,18.293691,6.078218,8.594319,14.789202,79.541401
466,15.021405,30.802891,5.633105,10.219041,6.554663,17.109600,6.630360,5.371829,8.588563,13.757232,21.658638,82.716934

In [67]:
# Adding random noise to the weekly percentages features
mu, sigma = 0,0.1
for item in regressor_perc_list:
    regressor_drift['{}'.format(item)] = regressor_drift['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(regressor_drift)))
regressor_drift[regressor_perc_list].head()

     Total_Exp_wk_perc
137           0.182824
31            0.282498
935           1.065763
403           0.193383
466           0.093229

In [68]:
# Although this exceeds 1, there is no need to cap this at 1
# as the idea is to demonstrate drift in the data

regressor_drift.Total_Exp_wk_perc.max()

1.217602290883341

In [69]:
regressor_drift.columns

Index(['Total_Price', 'Nbr_trips_per_wk', 'Total_Exp_wk_perc', 'Raw_meats_wk',
       'Vegetables_wk', 'Cooking_base_wk', 'Breakfast_wk', 'Transport_wk',
       'Electronics_wk', 'Education_wk', 'Cosmetics_and_selfcare_wk',
       'Clothes_and_shoes_wk', 'Expenditure_per_wk'],
      dtype='object')

In [70]:
regressor_drift1 = copy.deepcopy(regressor_drift)

<h5 style="color: green;">Extracting the regressor target</h5>

In [71]:
regressor_drift_target = regressor_drift1.Expenditure_per_wk

# dropping Trips_response_lt_5 from classifier_dt
regressor_drift1.drop(['Expenditure_per_wk'], axis=1, inplace=True)
regressor_drift1.shape

(6240, 12)

<h5 style="color: green;">Make predictions</h5>

In [72]:
regressor_drift_predictions = make_predictions.predict_regressor(regressor_drift1)
regressor_drift_predictions[:10]

array([[103.03616386],
       [133.75612023],
       [113.99577792],
       [118.68478127],
       [119.79877879],
       [105.41597034],
       [104.86791966],
       [120.86342524],
       [104.41199008],
       [120.80749981]])

In [73]:
print(regressor_drift.shape)
regressor_drift['prediction'] = regressor_drift_predictions
print(regressor_drift.shape)

(6240, 13)
(6240, 14)

In [74]:
regressor_drift.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
137,29.671353,27.339236,0.182824,21.605707,22.686535,14.965869,11.628342,11.374895,8.010144,17.332147,10.617962,3.965802,81.338213,103.036164
31,10.772184,16.613967,0.282498,5.329787,13.760860,6.712280,11.391198,5.400155,12.412875,11.662304,13.654401,15.852365,47.051797,133.756120
935,2.789794,8.747711,1.065763,14.982056,10.591974,4.179518,2.854285,13.613707,8.852314,9.874487,5.014989,14.859072,23.460449,113.995778
403,19.297759,29.517343,0.193383,20.215022,7.217432,5.672266,4.964222,9.193924,18.293691,6.078218,8.594319,14.789202,79.541401,118.684781
466,15.021405,30.802891,0.093229,5.633105,10.219041,6.554663,17.109600,6.630360,5.371829,8.588563,13.757232,21.658638,82.716934,119.798779

In [75]:
# Export the regressor_drift dataset
regressor_drift.to_csv("../2. Data/regressor_current_dt_drift.csv",index=False)