<h1 style="color: green;">Monitoring datasets preparation</h1>
<p>
EvidentlyAI monitoring is very specific as to how the data should be prepared.<br> 
In this section we prepare the datasets for classifier and regressor models monitoring.<br><br>
The following tasks will be accomplished:<br>
<ul>
<li><b>Extract classifier and regressor feaures datasets from homeshopping.csv</b></li><br>
<li>Create classifier reference dataset, this is the <b>benchmark dataset</b>;<br>it consists of all the records in homeshopping for the feature in question</li>
<li>Make predictions with the reference dataset and append them back to the dataset</li>
<li>Export the reference dataset</li><br>

<li style="color: green;">Create classifier current no drift dataset;<br>this consists of random sampling from the reference dataset</li>
<li style="color: green;">Make predictions with the classifier current no drift dataset and append them back to the dataset</li>
<li style="color: green;">Export the classifier current no drift dataset</li><br>

<li style="color: red;">Create classifier current dataset with drift;<br>this consists of adding random noise to the current no drift dataset</li>
<li style="color: red;">Make predictions with the classifier current dataset with drift and append them back to the dataset</li>
<li style="color: red;">Export the classifier current dataset with drift</li><br><br>

    
    

<li>Create regressor reference dataset, this is the <b>benchmark dataset</b>;<br>it consists of all the records in homeshopping for the feature in question</li>
<li>Make predictions with the reference dataset and append them back to the dataset</li>
<li>Export the reference dataset</li><br>

<li style="color: green;">Create regressor current no drift dataset;<br>this consists of random sampling from the reference dataset</li>
<li style="color: green;">Make predictions with the regressor current no drift dataset and append them back to the dataset</li>
<li style="color: green;">Export the regressor current no drift dataset</li><br>

<li style="color: red;">Create regressor current dataset with drift;<br>this consists of adding random noise to the current no drift dataset</li>
<li style="color: red;">Make predictions with the regressor current dataset with drift and append them back to the dataset</li>
<li style="color: red;">Export the regressor current dataset with drift</li>

</ul>
</p>

<h1 style="color: green;">Import libraries</h1>

In [1]:
import pandas as pd
import numpy as np
import joblib

import copy

import make_predictions

<h1 style="color: green;">Import classifier data</h1>

In [2]:
raw0 = pd.read_csv("../2. Data/homeshopping.csv")
raw0.head()

,Total_Nbr_of_Items,Total_Price,Venue,Payment_Type,Card_Source,Date_diff,Week_day_name,Nbr_trips_per_wk,Nbr_items_per_wk,Nbr_items_wk_perc,...,Clothes_and_shoes_wk_perc,Clothes_and_shoes_exp_receipt,Clothes_and_shoes_exp_wk,Clothes_and_shoes_wk_exp_perc,House_and_kitchen_receipt,House_and_kitchen_wk,House_and_kitchen_wk_perc,House_and_kitchen_exp_receipt,House_and_kitchen_exp_wk,House_and_kitchen_wk_exp_perc
0,1,3.29,eBay,Card,DD,0.0,Friday,3,3,0.333333,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
1,1,10.89,eBay,Card,DD,0.0,Friday,3,3,0.333333,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
2,1,2.98,eBay,Card,DD,0.0,Friday,3,3,0.333333,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
3,1,10.00,Abbey Sports,Card,DB,5.0,Wednesday,4,4,0.250000,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0
4,1,5.91,eBay,Card,DD,1.0,Thursday,4,4,0.250000,...,0.0,0.0,0.0,0.0,0,0,0.0,0.0,0.0,0.0

In [3]:
raw0.columns[:30]

Index(['Total_Nbr_of_Items', 'Total_Price', 'Venue', 'Payment_Type',
       'Card_Source', 'Date_diff', 'Week_day_name', 'Nbr_trips_per_wk',
       'Nbr_items_per_wk', 'Nbr_items_wk_perc', 'Expenditure_per_wk',
       'Total_Exp_wk_perc', 'AVG_exp_item_per_wk', 'Trips_response_lt_5',
       'hour', 'Part_of_day', 'Bread', 'Cooked_meats', 'Raw_meats',
       'Eating_out', 'Snacks', 'Drinks', 'Vegetables', 'Fruit', 'Cooking_base',
       'Dairy_produce', 'Seasoning', 'Breakfast', 'Transport', 'DIY'],
      dtype='object')

In [4]:
raw0.shape

(936, 156)

<h1 style="color: green;">Restricting data to classifier model features</h1>

In [5]:
# This includes the classifier target (Trips_response_lt_5)
features_classifier = ['Date_diff', 'Nbr_items_per_wk', 'Expenditure_per_wk',
                        'Total_Exp_wk_perc', 'AVG_exp_item_per_wk', 'Bread_wk',
                        'Cooked_meats_wk', 'Raw_meats_wk', 'Eating_out_wk', 'Snacks_wk',
                        'Drinks_wk', 'Vegetables_wk', 'Fruit_wk', 'Cooking_base_wk',
                        'Dairy_produce_wk', 'Breakfast_wk', 'Transport_wk',
                        'Tech_and_services_wk', 'Cosmetics_and_selfcare_wk',
                        'House_and_kitchen_wk','Trips_response_lt_5']

In [6]:
classifier_dt = copy.deepcopy(raw0)

In [7]:
classifier_dt = classifier_dt[features_classifier]
classifier_dt.head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Vegetables_wk,Fruit_wk,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5
0,0.0,3,17.16,0.191725,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0.0,3,17.16,0.634615,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,0.0,3,17.16,0.173660,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,5.0,4,28.69,0.348554,7.1725,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1.0,4,28.69,0.205995,7.1725,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [8]:
classifier_dt1 = copy.deepcopy(classifier_dt)

In [9]:
# extracting the target, Trips_response_lt_5
classifier_target = classifier_dt1.Trips_response_lt_5

# dropping Trips_response_lt_5 from classifier_dt
classifier_dt1.drop(['Trips_response_lt_5'], axis=1, inplace=True)
classifier_dt1.shape

(936, 20)

<h5 style="color: green;">Make predictions</h5>

In [10]:
classifier_predictions_prob, classifier_predictions_binarized = \
make_predictions.predict_classifier(classifier_dt1)
classifier_predictions_binarized[:10]

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [11]:
# create the reference data
classifier_reference = copy.deepcopy(classifier_dt)

# append the predictions and rename data to classifier_dt
classifier_reference['prediction_label'] = classifier_predictions_binarized
classifier_reference['prediction_prob'] = classifier_predictions_prob

In [12]:
classifier_reference.shape

(936, 23)

In [13]:
classifier_reference.head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
0,0.0,3,17.16,0.191725,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999449
1,0.0,3,17.16,0.634615,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999647
2,0.0,3,17.16,0.173660,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999364
3,5.0,4,28.69,0.348554,7.1725,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1.0,0.999923
4,1.0,4,28.69,0.205995,7.1725,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1.0,0.999817

In [14]:
# Export the classifier reference
classifier_reference.to_csv("../2. Data/classifier_reference.csv",index=False)

<h1 style="color: green;">Creating current datasets</h1>

<h3 style="color: green;">Current dataset no drift</h3>

In [15]:

Classifier_curr_dt_no_drift = classifier_dt.take(np.random.permutation(int(classifier_dt.shape[0]/3)))

In [16]:
int(classifier_dt.shape[0]/3)

312

In [17]:
# creating the no drift dataset by randomly sampling classifier_dt and stacking the samples
# taking a random 1/3 of classifier_dt dataset
for i in range(2):
    x = classifier_dt.take(np.random.permutation(int(classifier_dt.shape[0]/3)))
    Classifier_curr_dt_no_drift = pd.concat([Classifier_curr_dt_no_drift,x], axis=0)

In [18]:

Classifier_curr_dt_no_drift.shape

(936, 21)

In [19]:
Classifier_curr_dt_no_drift1 = copy.deepcopy(Classifier_curr_dt_no_drift)

In [20]:
# DO NOT RUN THIS
# Writing current data to csv
# Classifier_curr_dt_no_drift.to_csv("../2. Data/Classifier_curr_dt_no_drift.csv", index=False)

<h5 style="color: green;">Extracting the classifier target</h5>

In [21]:
classifier_curr_dt_no_drift_target = Classifier_curr_dt_no_drift1.Trips_response_lt_5

# dropping Trips_response_lt_5 from classifier_dt
Classifier_curr_dt_no_drift1.drop(['Trips_response_lt_5'], axis=1, inplace=True)
Classifier_curr_dt_no_drift1.shape

(936, 20)

In [22]:
classifier_curr_dt_no_drift_target[30:40]

294    0
246    1
31     1
63     1
260    0
0      1
8      1
6      1
266    0
30     1
Name: Trips_response_lt_5, dtype: int64

<h5 style="color: green;">Make predictions</h5>

In [23]:
Classifier_curr_dt_no_drift_predictions_prob, Classifier_curr_dt_no_drift_predictions_binarized = \
make_predictions.predict_classifier(Classifier_curr_dt_no_drift1)
Classifier_curr_dt_no_drift_predictions_binarized[:10]

array([1., 1., 1., 0., 0., 1., 0., 0., 0., 0.])

<h5 style="color: green;">Append predictions to current dataset no drift</h5>

In [24]:
Classifier_curr_dt_no_drift3 = copy.deepcopy(Classifier_curr_dt_no_drift)

# Classifier_curr_dt_no_drift3['prediction'] = Classifier_curr_dt_no_drift_predictions


# append the predictions and rename data to classifier_dt
Classifier_curr_dt_no_drift3['prediction_label'] = Classifier_curr_dt_no_drift_predictions_binarized
Classifier_curr_dt_no_drift3['prediction_prob'] = Classifier_curr_dt_no_drift_predictions_prob

In [25]:
print(Classifier_curr_dt_no_drift3.shape)

Classifier_curr_dt_no_drift3.head()

(936, 23)

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
304,3.0,24,49.84,0.147271,2.076667,3,2,2,0,4,...,0,3,0,0,1,0,0,1,1.0,0.999149
185,4.0,15,34.34,0.272277,2.289333,1,1,1,3,0,...,0,1,1,0,0,0,0,1,1.0,0.998500
62,0.0,36,44.17,0.398008,1.226944,3,3,5,0,0,...,1,7,0,0,0,3,0,1,1.0,0.995235
220,1.0,42,351.76,0.028428,8.375238,2,1,3,0,0,...,3,2,0,0,1,0,0,0,0.0,0.000949
237,3.0,47,73.75,0.147525,1.569149,3,1,4,0,6,...,4,2,0,0,1,2,0,0,0.0,0.015675

In [26]:
# Export Classifier_curr_dt_no_drift3
Classifier_curr_dt_no_drift3.to_csv("../2. Data/Classifier_curr_dt_no_drift.csv",index=False)

<h3 style="color: green;">Current dataset with drift</h3>

In [27]:
classifier_drift = copy.deepcopy(Classifier_curr_dt_no_drift)

In [28]:
classifier_drift.head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Vegetables_wk,Fruit_wk,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5
304,3.0,24,49.84,0.147271,2.076667,3,2,2,0,4,...,1,1,0,3,0,0,1,0,0,1
185,4.0,15,34.34,0.272277,2.289333,1,1,1,3,0,...,5,0,0,1,1,0,0,0,0,1
62,0.0,36,44.17,0.398008,1.226944,3,3,5,0,0,...,10,0,1,7,0,0,0,3,0,1
220,1.0,42,351.76,0.028428,8.375238,2,1,3,0,0,...,18,2,3,2,0,0,1,0,0,0
237,3.0,47,73.75,0.147525,1.569149,3,1,4,0,6,...,21,0,4,2,0,0,1,2,0,0

In [29]:
classifier_wk_list = ['Date_diff', 'Nbr_items_per_wk', 'Expenditure_per_wk',
                        'AVG_exp_item_per_wk', 'Bread_wk',
                        'Cooked_meats_wk', 'Raw_meats_wk', 'Eating_out_wk', 'Snacks_wk',
                        'Drinks_wk', 'Vegetables_wk', 'Fruit_wk', 'Cooking_base_wk',
                        'Dairy_produce_wk', 'Breakfast_wk', 'Transport_wk',
                        'Tech_and_services_wk', 'Cosmetics_and_selfcare_wk',
                        'House_and_kitchen_wk']

classifier_perc_list = ['Total_Exp_wk_perc']

<h5 style="color: green;">Inflating values to mimic drift</h5>

In [30]:
# Adding random noise to the non percentage features
# In general all the values are being inflated
mu, sigma = 10,6 
for item in classifier_wk_list:
    classifier_drift['{}'.format(item)] = classifier_drift['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(classifier_drift)))
classifier_drift[classifier_wk_list].head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,Drinks_wk,Vegetables_wk,Fruit_wk,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk
304,25.939016,30.952502,55.427118,9.652097,19.087711,15.036835,3.069044,8.067959,27.413796,12.208808,9.351523,11.480805,15.178214,23.178167,8.702013,3.521157,18.288494,20.127918,8.696092
185,6.975242,22.485047,46.074696,17.340621,13.375274,16.194365,6.163874,20.855338,10.357527,7.438489,18.007928,1.283646,20.233315,23.010515,16.884532,11.551782,9.344033,11.159259,18.674201
62,10.334869,49.259190,50.777602,10.531346,18.730163,17.737946,10.378417,0.002026,12.389517,3.663821,19.580470,4.313911,9.769034,14.676426,11.788387,11.568162,0.048617,20.405208,24.392842
220,19.278425,56.570815,363.541303,27.412480,17.549543,11.184062,11.921726,14.758080,9.393997,15.512812,29.394104,11.562956,15.438854,9.529406,1.500399,5.142281,13.044552,7.611134,2.067831
237,21.295214,63.107084,79.706393,4.428132,13.860517,5.331437,7.289780,3.085595,10.306926,12.914320,28.917851,14.512844,11.231168,16.335948,13.788266,15.827779,13.927787,9.090397,15.429254

In [31]:
# Adding random noise to the weekly percentages features
mu, sigma = 0,0.1
for item in classifier_perc_list:
    classifier_drift['{}'.format(item)] = classifier_drift['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(classifier_drift)))
classifier_drift[classifier_perc_list].head()

     Total_Exp_wk_perc
304           0.221107
185           0.327916
62            0.545418
220           0.159027
237           0.246174

In [32]:
# Although this exceeds 1, there is no need to cap this at 1
# as the idea is to demonstrate drift in the data
classifier_drift.Total_Exp_wk_perc.max()

1.2556953767203467

In [33]:
classifier_drift.columns

Index(['Date_diff', 'Nbr_items_per_wk', 'Expenditure_per_wk',
       'Total_Exp_wk_perc', 'AVG_exp_item_per_wk', 'Bread_wk',
       'Cooked_meats_wk', 'Raw_meats_wk', 'Eating_out_wk', 'Snacks_wk',
       'Drinks_wk', 'Vegetables_wk', 'Fruit_wk', 'Cooking_base_wk',
       'Dairy_produce_wk', 'Breakfast_wk', 'Transport_wk',
       'Tech_and_services_wk', 'Cosmetics_and_selfcare_wk',
       'House_and_kitchen_wk', 'Trips_response_lt_5'],
      dtype='object')

In [34]:
classifier_drift1 = copy.deepcopy(classifier_drift)

In [35]:
classifier_drift.shape

(936, 21)

<h5 style="color: green;">Extracting the classifier target</h5>

In [36]:
classifier_drift_target = classifier_drift1.Trips_response_lt_5

# dropping Trips_response_lt_5 from classifier_dt
classifier_drift1.drop(['Trips_response_lt_5'], axis=1, inplace=True)
classifier_drift1.shape

(936, 20)

<h5 style="color: green;">Make predictions</h5>

In [37]:
classifier_drift_predictions_prob, classifier_drift_predictions_binarized=\
make_predictions.predict_classifier(classifier_drift1)
classifier_drift_predictions_prob[:10]

array([0.4933205 , 0.48499135, 0.36334624, 0.1906202 , 0.43094569,
       0.53683003, 0.33275509, 0.47625483, 0.35881733, 0.55802061])

<h5 style="color: green;">Append predictions to current dataset no drift</h5>

In [38]:
# classifier_drift['prediction'] = classifier_drift_predictions

# append the predictions and rename data to classifier_dt
classifier_drift['prediction_label'] = classifier_drift_predictions_binarized
classifier_drift['prediction_prob'] = classifier_drift_predictions_prob

In [39]:
print(classifier_drift.shape)

classifier_drift.head()

(936, 23)

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
304,25.939016,30.952502,55.427118,0.221107,9.652097,19.087711,15.036835,3.069044,8.067959,27.413796,...,15.178214,23.178167,8.702013,3.521157,18.288494,20.127918,8.696092,1,1.0,0.493321
185,6.975242,22.485047,46.074696,0.327916,17.340621,13.375274,16.194365,6.163874,20.855338,10.357527,...,20.233315,23.010515,16.884532,11.551782,9.344033,11.159259,18.674201,1,1.0,0.484991
62,10.334869,49.259190,50.777602,0.545418,10.531346,18.730163,17.737946,10.378417,0.002026,12.389517,...,9.769034,14.676426,11.788387,11.568162,0.048617,20.405208,24.392842,1,1.0,0.363346
220,19.278425,56.570815,363.541303,0.159027,27.412480,17.549543,11.184062,11.921726,14.758080,9.393997,...,15.438854,9.529406,1.500399,5.142281,13.044552,7.611134,2.067831,0,1.0,0.190620
237,21.295214,63.107084,79.706393,0.246174,4.428132,13.860517,5.331437,7.289780,3.085595,10.306926,...,11.231168,16.335948,13.788266,15.827779,13.927787,9.090397,15.429254,0,1.0,0.430946

In [40]:
# Export classifier_drift
classifier_drift.to_csv("../2. Data/classifier_current_dt_drift.csv",index=False)

<h1 style="color: green;">Restricting data to Regressor model features</h1>

In [41]:
features_regressor = ['Total_Price', 'Nbr_trips_per_wk', 'Total_Exp_wk_perc', 'Raw_meats_wk',
                          'Vegetables_wk', 'Cooking_base_wk', 'Breakfast_wk', 'Transport_wk',
                          'Electronics_wk', 'Education_wk', 'Cosmetics_and_selfcare_wk',
                          'Clothes_and_shoes_wk','Expenditure_per_wk']

In [42]:
regressor_dt = copy.deepcopy(raw0)

In [43]:
regressor_dt = regressor_dt[features_regressor]
regressor_dt.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk
0,3.29,3,0.191725,0,0,0,0,0,1,0,0,0,17.16
1,10.89,3,0.634615,0,0,0,0,0,1,0,0,0,17.16
2,2.98,3,0.173660,0,0,0,0,0,1,0,0,0,17.16
3,10.00,4,0.348554,0,0,0,0,0,1,0,0,0,28.69
4,5.91,4,0.205995,0,0,0,0,0,1,0,0,0,28.69

In [44]:
regressor_dt1 = copy.deepcopy(regressor_dt)

<h5 style="color: green;">Extracting the regressor target</h5>

In [45]:
# extracting the target, Expenditure_per_wk
regressor_target = regressor_dt1.Expenditure_per_wk

# dropping Expenditure_per_wk from regressor_dt1
regressor_dt1.drop(['Expenditure_per_wk'], axis=1, inplace=True)
regressor_dt1.shape

(936, 12)

<h5 style="color: green;">Make predictions</h5>

In [46]:
regressor_ref_predictions = make_predictions.predict_regressor(regressor_dt1)
regressor_ref_predictions[:10]

array([[18.84413528],
       [21.88097279],
       [17.15999929],
       [29.61172553],
       [28.69000096],
       [28.94183498],
       [28.689999  ],
       [40.67000021],
       [40.6700038 ],
       [40.6699959 ]])

In [47]:
# create the reference data
regressor_reference = copy.deepcopy(regressor_dt)

In [48]:
print(regressor_reference.shape)
# append the predictions and rename data to classifier_dt
regressor_reference['prediction'] = regressor_ref_predictions
regressor_reference.head()

(936, 13)

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
0,3.29,3,0.191725,0,0,0,0,0,1,0,0,0,17.16,18.844135
1,10.89,3,0.634615,0,0,0,0,0,1,0,0,0,17.16,21.880973
2,2.98,3,0.173660,0,0,0,0,0,1,0,0,0,17.16,17.159999
3,10.00,4,0.348554,0,0,0,0,0,1,0,0,0,28.69,29.611726
4,5.91,4,0.205995,0,0,0,0,0,1,0,0,0,28.69,28.690001

In [49]:
# Export the regressor reference
regressor_reference.to_csv("../2. Data/regressor_reference.csv",index=False)

<h1 style="color: green;">Creating current datasets</h1>
<h3 style="color: green;">Current dataset no drift</h3>

In [50]:
regressor_curr_dt_no_drift = regressor_dt.take(np.random.permutation(int(regressor_dt.shape[0]/3)))

In [51]:
int(regressor_dt.shape[0]/3)

312

In [52]:
# creating the no drift dataset by randomly sampling classifier_dt and stacking the samples
# taking a random 1/3 of classifier_dt dataset
for i in range(2):
    x = regressor_dt.take(np.random.permutation(int(regressor_dt.shape[0]/3)))
    regressor_curr_dt_no_drift = pd.concat([regressor_curr_dt_no_drift,x], axis=0)

In [53]:
regressor_curr_dt_no_drift.shape

(936, 13)

In [54]:
regressor_curr_dt_no_drift1 = copy.deepcopy(regressor_curr_dt_no_drift)

<h5 style="color: green;">Extracting the regressor target</h5>

In [55]:
# Extracting the classifier target from Classifier_curr_dt_no_drift
regressor_curr_dt_no_drift_target = regressor_curr_dt_no_drift1.Expenditure_per_wk
regressor_curr_dt_no_drift1.drop(['Expenditure_per_wk'], axis=1, inplace=True)

In [56]:
regressor_curr_dt_no_drift1.shape

(936, 12)

In [57]:
regressor_curr_dt_no_drift_target[30:40]

211     11.91
116     73.54
46      31.42
3       28.69
25      22.66
199    114.98
309     29.24
171    175.43
250     50.31
165     57.37
Name: Expenditure_per_wk, dtype: float64

<h5 style="color: green;">Make predictions</h5>

In [58]:
regressor_curr_dt_no_drift_predictions = make_predictions.predict_regressor(regressor_curr_dt_no_drift1)
regressor_curr_dt_no_drift_predictions[:10]

array([[ 38.98941233],
       [123.24857979],
       [ 44.86999877],
       [ 31.54999983],
       [214.60608569],
       [175.43000136],
       [351.75999997],
       [267.73999776],
       [ 30.40151317],
       [ 63.92333659]])

In [59]:
# Append predictions to current dataset no drift  

regressor_curr_dt_no_drift3 = copy.deepcopy(regressor_curr_dt_no_drift)
print(regressor_curr_dt_no_drift3.shape)
regressor_curr_dt_no_drift3['prediction'] = regressor_curr_dt_no_drift_predictions
print(regressor_curr_dt_no_drift3.shape)

(936, 13)
(936, 14)

In [60]:
regressor_curr_dt_no_drift3.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
64,6.34,4,0.159577,4,8,0,0,0,0,0,2,2,39.73,38.989412
37,15.18,7,0.133228,3,9,0,0,0,0,0,4,6,113.94,123.248580
194,13.11,5,0.292177,1,7,0,1,0,0,0,9,0,44.87,44.869999
298,2.70,6,0.085578,1,13,0,0,0,0,0,4,0,31.55,31.550000
183,17.72,5,0.048456,2,13,0,0,0,1,0,1,0,365.69,214.606086

In [61]:
# Export regressor_curr_dt_no_drift3
regressor_curr_dt_no_drift3.to_csv("../2. Data/regressor_current_dt_no_drift3.csv",index=False)

<h3 style="color: green;">Current dataset with drift</h3>

In [62]:
regressor_drift = copy.deepcopy(regressor_curr_dt_no_drift)

In [63]:
regressor_drift.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk
64,6.34,4,0.159577,4,8,0,0,0,0,0,2,2,39.73
37,15.18,7,0.133228,3,9,0,0,0,0,0,4,6,113.94
194,13.11,5,0.292177,1,7,0,1,0,0,0,9,0,44.87
298,2.70,6,0.085578,1,13,0,0,0,0,0,4,0,31.55
183,17.72,5,0.048456,2,13,0,0,0,1,0,1,0,365.69

In [64]:
regressor_drift.columns

Index(['Total_Price', 'Nbr_trips_per_wk', 'Total_Exp_wk_perc', 'Raw_meats_wk',
       'Vegetables_wk', 'Cooking_base_wk', 'Breakfast_wk', 'Transport_wk',
       'Electronics_wk', 'Education_wk', 'Cosmetics_and_selfcare_wk',
       'Clothes_and_shoes_wk', 'Expenditure_per_wk'],
      dtype='object')

In [65]:
# list of features to add random noise to.
regressor_wk_list = ['Total_Price', 'Nbr_trips_per_wk', 'Raw_meats_wk',
                       'Vegetables_wk', 'Cooking_base_wk', 'Breakfast_wk', 'Transport_wk',
                       'Electronics_wk', 'Education_wk', 'Cosmetics_and_selfcare_wk',
                       'Clothes_and_shoes_wk','Expenditure_per_wk'] # including Expenditure_per_wk for randomness

regressor_perc_list = ['Total_Exp_wk_perc']

In [66]:
# Adding random noise to the non percentage features
# In general all the values are being inflated
mu, sigma = 10,6 
for item in regressor_wk_list:
    regressor_drift['{}'.format(item)] = regressor_drift['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(regressor_drift)))
    
regressor_drift[regressor_wk_list].head()

,Total_Price,Nbr_trips_per_wk,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk
64,25.517036,15.301834,12.811741,24.386953,9.028876,2.686712,14.749046,22.362466,2.565707,21.709422,12.532910,44.793195
37,19.942923,12.816918,10.676733,13.771328,3.999563,13.444173,9.123003,17.714201,0.237513,16.515944,13.541631,126.657816
194,31.554920,20.534113,1.333786,15.854762,17.339150,11.149934,3.616561,13.218973,14.385160,18.758713,4.274337,53.802968
298,23.815736,9.926700,13.927250,21.978540,12.537881,14.524286,8.758051,4.555277,6.978130,16.557575,15.192159,34.180152
183,35.424373,13.138758,15.145505,17.961498,3.816272,14.636835,5.948399,2.688578,2.162451,2.644064,10.628286,379.932078

In [67]:
# Adding random noise to the weekly percentages features
mu, sigma = 0,0.1
for item in regressor_perc_list:
    regressor_drift['{}'.format(item)] = regressor_drift['{}'.format(item)] + \
    abs(np.random.normal(mu, sigma,len(regressor_drift)))
regressor_drift[regressor_perc_list].head()

     Total_Exp_wk_perc
64            0.270948
37            0.163206
194           0.292296
298           0.159649
183           0.094135

In [68]:
# Although this exceeds 1, there is no need to cap this at 1
# as the idea is to demonstrate drift in the data

regressor_drift.Total_Exp_wk_perc.max()

1.2021240443039065

In [69]:
regressor_drift.columns

Index(['Total_Price', 'Nbr_trips_per_wk', 'Total_Exp_wk_perc', 'Raw_meats_wk',
       'Vegetables_wk', 'Cooking_base_wk', 'Breakfast_wk', 'Transport_wk',
       'Electronics_wk', 'Education_wk', 'Cosmetics_and_selfcare_wk',
       'Clothes_and_shoes_wk', 'Expenditure_per_wk'],
      dtype='object')

In [70]:
regressor_drift1 = copy.deepcopy(regressor_drift)

<h5 style="color: green;">Extracting the regressor target</h5>

In [71]:
regressor_drift_target = regressor_drift1.Expenditure_per_wk

# dropping Trips_response_lt_5 from classifier_dt
regressor_drift1.drop(['Expenditure_per_wk'], axis=1, inplace=True)
regressor_drift1.shape

(936, 12)

<h5 style="color: green;">Make predictions</h5>

In [72]:
regressor_drift_predictions = make_predictions.predict_regressor(regressor_drift1)
regressor_drift_predictions[:10]

array([[107.24818322],
       [127.89850081],
       [141.10450972],
       [107.3177818 ],
       [108.37978386],
       [108.34041312],
       [102.58825168],
       [107.66188912],
       [107.49942491],
       [108.17456661]])

In [73]:
print(regressor_drift.shape)
regressor_drift['prediction'] = regressor_drift_predictions
print(regressor_drift.shape)

(936, 13)
(936, 14)

In [74]:
regressor_drift.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
64,25.517036,15.301834,0.270948,12.811741,24.386953,9.028876,2.686712,14.749046,22.362466,2.565707,21.709422,12.532910,44.793195,107.248183
37,19.942923,12.816918,0.163206,10.676733,13.771328,3.999563,13.444173,9.123003,17.714201,0.237513,16.515944,13.541631,126.657816,127.898501
194,31.554920,20.534113,0.292296,1.333786,15.854762,17.339150,11.149934,3.616561,13.218973,14.385160,18.758713,4.274337,53.802968,141.104510
298,23.815736,9.926700,0.159649,13.927250,21.978540,12.537881,14.524286,8.758051,4.555277,6.978130,16.557575,15.192159,34.180152,107.317782
183,35.424373,13.138758,0.094135,15.145505,17.961498,3.816272,14.636835,5.948399,2.688578,2.162451,2.644064,10.628286,379.932078,108.379784

In [75]:
# Export the regressor_drift dataset
regressor_drift.to_csv("../2. Data/regressor_current_dt_drift.csv",index=False)