<h1 style="color: green;">Monitoring reports generation</h1>
<p>
In this section monitoring reports are generated using EvidentlyAI preset functions.<br>
The following tasks are accomplished:<br>
<ul>
<li></li>
<li></li>
<li></li>
<li></li>
<li></li>



</ul>
</p>

<h1 style="color: green;">Importing libraries</h1>

In [13]:
import evidently

import pandas as pd
import numpy as np
import copy

from sklearn import datasets, ensemble, model_selection

from evidently import ColumnMapping
from evidently.report import Report
from evidently.metric_preset import DataDriftPreset
from evidently.metric_preset import DataQualityPreset
from evidently.metric_preset import RegressionPreset
from evidently.metric_preset import ClassificationPreset
from evidently.metric_preset import TargetDriftPreset

import warnings
warnings.filterwarnings('ignore')
warnings.simplefilter('ignore')

<h1 style="color: green;">Load the classifier datasets</h1>

In [3]:
classifier_reference = pd.read_csv("../2. Data/classifier_reference.csv")

Classifier_curr_dt_no_drift = pd.read_csv("../2. Data/Classifier_curr_dt_no_drift.csv")

classifier_drift = pd.read_csv("../2. Data/classifier_current_dt_drift.csv")

In [4]:
classifier_reference.head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
0,0.0,3,17.16,0.191725,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999449
1,0.0,3,17.16,0.634615,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999647
2,0.0,3,17.16,0.173660,5.7200,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1.0,0.999364
3,5.0,4,28.69,0.348554,7.1725,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1.0,0.999923
4,1.0,4,28.69,0.205995,7.1725,0,0,0,0,0,...,0,0,0,0,1,0,0,1,1.0,0.999817

In [5]:
Classifier_curr_dt_no_drift.tail()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
6235,1.0,31,365.69,0.902376,11.796452,2,1,2,0,1,...,0,2,0,0,0,1,0,0,0.0,0.049626
6236,1.0,26,42.95,0.023050,1.651923,2,3,3,0,0,...,1,4,0,0,0,4,0,0,0.0,0.002121
6237,3.0,20,22.69,0.021595,1.134500,4,0,2,0,1,...,0,0,0,0,0,5,0,0,0.0,0.005453
6238,0.0,73,102.47,0.085879,1.403699,2,2,4,5,2,...,7,3,0,1,0,2,10,0,0.0,0.001558
6239,1.0,23,57.37,0.276974,2.494348,0,0,2,0,0,...,0,0,0,19,0,3,0,0,0.0,0.004429

In [6]:
classifier_drift.head()

,Date_diff,Nbr_items_per_wk,Expenditure_per_wk,Total_Exp_wk_perc,AVG_exp_item_per_wk,Bread_wk,Cooked_meats_wk,Raw_meats_wk,Eating_out_wk,Snacks_wk,...,Cooking_base_wk,Dairy_produce_wk,Breakfast_wk,Transport_wk,Tech_and_services_wk,Cosmetics_and_selfcare_wk,House_and_kitchen_wk,Trips_response_lt_5,prediction_label,prediction_prob
0,11.010543,50.700828,40.553351,0.704383,3.901352,12.459662,12.345680,7.496527,3.098637,20.250867,...,12.064450,13.474459,15.072944,17.999735,9.816815,13.649739,11.060603,1,1.0,0.419028
1,7.903862,81.300684,179.769784,0.239770,14.503924,12.462566,3.093682,18.420224,3.092200,18.586934,...,7.633114,16.954519,3.468170,14.816359,9.273203,13.301956,4.849772,0,1.0,0.332795
2,21.872078,55.886477,76.305152,0.132744,8.830505,6.298692,14.534552,16.993777,5.859520,14.392316,...,10.288869,11.945779,10.728794,27.783803,4.032258,15.873656,16.624823,0,1.0,0.403395
3,23.462793,31.110513,69.280480,0.647054,3.478395,11.911286,17.096911,6.771921,10.188455,6.559825,...,12.720602,13.330148,7.252761,12.275090,14.335183,8.428715,4.268112,1,1.0,0.522464
4,10.969172,51.240778,71.347836,0.331781,15.226008,17.143228,18.109653,12.252229,1.228925,34.603367,...,17.521494,10.785077,1.061152,9.622618,12.355742,12.204232,24.136524,1,1.0,0.295945

<h1 style="color: green;">Load the regressor datasets</h1>

In [7]:
regressor_reference = pd.read_csv("../2. Data/regressor_reference.csv")

regressor_curr_dt_no_drift3 = pd.read_csv("../2. Data/regressor_current_dt_no_drift3.csv")

regressor_drift = pd.read_csv("../2. Data/regressor_current_dt_drift.csv")

In [8]:
regressor_reference.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
0,3.29,3,0.191725,0,0,0,0,0,1,0,0,0,17.16,18.844135
1,10.89,3,0.634615,0,0,0,0,0,1,0,0,0,17.16,21.880973
2,2.98,3,0.173660,0,0,0,0,0,1,0,0,0,17.16,17.159999
3,10.00,4,0.348554,0,0,0,0,0,1,0,0,0,28.69,29.611726
4,5.91,4,0.205995,0,0,0,0,0,1,0,0,0,28.69,28.690001

In [9]:
regressor_curr_dt_no_drift3.tail()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
6235,7.29,6,0.106735,5,12,7,0,0,0,0,1,0,68.30,68.300001
6236,5.22,6,0.121537,3,0,1,0,0,0,0,4,0,42.95,42.949998
6237,10.00,6,0.198768,4,13,1,0,0,0,0,4,0,50.31,50.310061
6238,6.10,4,0.138103,5,10,1,0,0,0,0,3,1,44.17,44.355557
6239,3.68,5,0.057019,4,3,3,0,0,0,0,2,0,64.54,64.540005

In [10]:
regressor_drift.head()

,Total_Price,Nbr_trips_per_wk,Total_Exp_wk_perc,Raw_meats_wk,Vegetables_wk,Cooking_base_wk,Breakfast_wk,Transport_wk,Electronics_wk,Education_wk,Cosmetics_and_selfcare_wk,Clothes_and_shoes_wk,Expenditure_per_wk,prediction
0,17.140055,30.179639,0.116615,1.536706,10.859067,19.564165,1.582702,21.722184,20.077273,18.321884,7.918241,8.787985,80.803837,155.858998
1,23.398661,7.143073,0.104956,15.954946,25.955347,17.859185,15.079873,10.096770,11.232768,6.046435,12.624993,14.793424,365.572796,122.605364
2,17.888572,16.903231,0.096603,23.983262,11.645277,5.830378,19.413807,13.385824,4.327429,10.572687,17.086297,8.768176,286.202122,117.077317
3,4.387963,16.037074,0.087767,4.982517,10.408870,11.566962,7.326273,9.945449,7.504172,1.990424,7.554747,12.219055,66.020398,186.388225
4,15.556782,7.553914,0.320723,29.175983,27.046154,14.137878,10.024856,20.019949,4.769722,0.912428,12.323047,10.987239,52.144842,104.962898

<h1 style="color: green;">Data quality</h1><br>

<h3 style="color: green;">Classifier data preparation for data quality report</h3><br>
Note, for this the target and prediction are not required.<br>

In [16]:
# dropping the classifier target and prediction from: classifier_reference


classifier_reference1 = copy.deepcopy(classifier_reference)
classifier_reference1.drop(['Trips_response_lt_5', 
                            'prediction_label', 
                            'prediction_prob'], 
                           axis=1,
                           inplace=True)

In [17]:
# dropping the classifier target and prediction from: Classifier_curr_dt_no_drift

Classifier_curr_dt_no_drift1 = copy.deepcopy(Classifier_curr_dt_no_drift)
Classifier_curr_dt_no_drift1.drop(['Trips_response_lt_5', 
                            'prediction_label', 
                            'prediction_prob'], 
                           axis=1,
                           inplace=True)

In [18]:
# dropping the classifier target and prediction from: Classifier_curr_dt_no_drift

classifier_drift1 = copy.deepcopy(classifier_drift)
classifier_drift1.drop(['Trips_response_lt_5', 
                            'prediction_label', 
                            'prediction_prob'], 
                           axis=1,
                           inplace=True)

In [21]:
data_quality_report = Report(metrics=[
    DataQualityPreset(),
])

data_quality_report.run(reference_data=classifier_reference1, current_data=Classifier_curr_dt_no_drift1)
data_quality_report.save_html("../11. Reports/evidently_metric_presets/No_drift_data_quality_report29082023.html")